.DefaultLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.BackgroundLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../pictures/backgroundImage.png');
}