.UserSpace {
    width:100%;
}

.NormalAvatar {
    cursor: pointer;
}

.avatar-container {
    position: relative;
    display: inline-block;
}

.edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    border-radius: 50%;
    padding: 2px;
}

.UserRow {
    justify-content: center;
    display: flex;
    width: 100%;
}
